@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background-primary: 245, 248, 250;
  --background-secondary: 255, 255, 255;
  --primary-green: 16 185 129;
}

.logoColor {
  fill: #f5f8fa;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background-primary));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background-primary: 30, 30, 30;
    --background-secondary: 45, 45, 48;
  }
  .logoColor {
    fill: #1e293b;
  }
}
