@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 23, 23, 23;
  --background-primary: 245, 248, 250;
  --background-secondary: 255, 255, 255;
  --primary-green: 16 185 129;
  font-size: 1.1rem;
  line-height: 1.75rem;
}
p {
  line-height: 1.5rem;
}

.logoColor {
  fill: #f5f8fa;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background-primary));
}

.phone-frame {
  position: relative;
  display: inline-block;
  width: 300px; /* Adjust width as needed */
  height: 615px; /* Adjust height as needed */
  background: white; /* Outer thin border color */
  padding: 6px; /* Adjust padding to create outer border effect */
  border-radius: 40px; /* Adjust radius for outer border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.phone-frame-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: black; /* Inner border color */
  padding: 12px; /* Adjust padding to create inner border effect */
  border-radius: 32px; /* Adjust radius for inner border */
}

.phone-frame-inner::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 60px;
  height: 10px;
  background: #000000;
  border-radius: 10px;
  transform: translateX(-50%);
}

.phone-frame-inner img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.phone-frame::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  background: #333;
  border-radius: 2px;
  left: -3px;
  top: 100px;
}

.phone-frame::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 50px;
  background: #333;
  border-radius: 2px;
  left: -3px;
  top: 160px;
}

.phone-frame .volume-button-top {
  content: "";
  position: absolute;
  left: -3px;
  top: 100px;
  width: 3px;
  height: 30px;
  background: #333;
  border-radius: 2px;
}

.phone-frame .volume-button-middle {
  content: "";
  position: absolute;
  left: -3px;
  top: 160px;
  width: 3px;
  height: 50px;
  background: #333;
  border-radius: 2px;
}

.phone-frame .volume-button-bottom {
  content: "";
  position: absolute;
  left: -3px;
  top: 220px;
  width: 3px;
  height: 50px;
  background: #333;
  border-radius: 2px;
}

.phone-frame .power-button {
  content: "";
  position: absolute;
  right: -3px;
  top: 35%;
  width: 3px;
  height: 70px;
  background: #333;
  border-radius: 2px;
  transform: translateY(-50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background-primary: 30, 30, 30;
    --background-secondary: 45, 45, 48;
  }
  .logoColor {
    fill: #1e293b;
  }

  .phone-frame::before,
  .phone-frame::after {
    background: #ffffff;
  }

  .phone-frame .volume-button-top,
  .phone-frame .volume-button-middle,
  .phone-frame .volume-button-bottom,
  .phone-frame .power-button {
    background: #ffffff;
  }
}
